body {
  background-attachment: fixed;
  background-image: url(../img/pexels-photo-89724.jpeg);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}


.phpform {
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
		font-size: 21px;
}

.phpname {
	font-family: "Poppins";
	font-size: 16px;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.phpbtn {
	font-size: 18px;

}
